{% extends "master.html" %}
{% load static %}
{% block body_class %}homepage{% endblock %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}
{% block title %}
  Greetings from GoodnessGaseous
{% endblock %}

{% block content %}
<div class="container text-center mt-5 homepage-container">
  <h1 class="display-4" style="color: black; font-weight: bold; opacity: 1; z-index: 999;">
    <i class="fa-solid fa-star" style="color: rgb(34, 63, 235);text-shadow: 1px 1px 2px white, 0 0 25px lightblue, 0 0 5px lightpink;"></i> <span>Pocket Celestial Guide</span>
    <i class="fa-solid fa-star" style="color: rgb(34, 63, 235);text-shadow: 1px 1px 2px white, 0 0 25px lightblue, 0 0 5px lightpink;"></i>
  </h1>
  <h3 style="color: white; opacity: 1; z-index: 999;">
    Journey through the genres of stars <i class="fa-regular fa-sun fa-float" style="color: rgb(255, 212, 59);text-shadow: 1px 1px 2px black, 0 0 25px lightblue, 0 0 5px lightyellow;"></i> from blazing giants to exotic remnants.

  </h3>

  <div class="thestars-wrapper">
    <a href="{% url 'starlist' %}" class="thestars">
      <span>To The Stars</span>
    </a><br><br>
  </div>
</div>
{% endblock %}